@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 173 50% 91%; /* #E0F4F1 */
    --foreground: 222.2 47.4% 11.2%;

    --card: 173 50% 96%;
    --card-foreground: 222.2 47.4% 11.2%;

    --popover: 173 50% 96%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --primary: 170 47% 64%; /* #79D0C4 */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 173 30% 85%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 173 30% 85%;
    --muted-foreground: 224 7.3% 48%;

    --accent: 50 80% 79%; /* #F4E39C */
    --accent-foreground: 48 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 170 30% 80%;
    --input: 170 30% 85%;
    --ring: 170 47% 64%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222.2 47.4% 11.2%;
    --sidebar-primary: 170 47% 64%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 173 50% 91%;
    --sidebar-accent-foreground: 222.2 47.4% 11.2%;
    --sidebar-border: 170 30% 80%;
    --sidebar-ring: 170 47% 64%;
  }
  .dark {
    --background: 222.2 47.4% 11.2%;
    --foreground: 210 40% 98%;
    --card: 222.2 47.4% 11.2%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    --primary: 170 47% 64%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 50 80% 79%;
    --accent-foreground: 48 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 170 47% 64%;
    
    --sidebar-background: 222.2 47.4% 11.2%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 170 47% 64%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 170 47% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
